<scenario ID="3" Name="Example Transaction">
  <module name="login" username="psu" password="advanced" />
  <module name="AddItems" SKU="952007" QTY="3" />
  <module name="GPG" Select="All" />
  <module name="IncludeCustomer" AddCustomer="False" />
  <module name="PURBenefits" Select="Not Intrested" />
  <module name="Checkout" />
  <module name="Cash" Tender="Exact"/>
</scenario>
