<configuration>
  <Criteria>
    <Entrance Version="Default" Exists="True" XPath ="/form[@processname='Source']/?/?/button[@automationid='CheckOutButton' and @enabled='True']" />
    <Exit Version="Default" Exists="True" XPath ="/form[@processname='Source']/?/?/element[@automationid='PaymentControl']/text[@name='Time to Check Out!']" />
  </Criteria>
  <Parameters>
    <Expected Required="No" Type="Boolean" />
  </Parameters>
</configuration>
