<configuration>
  <Criteria>
    <Entrance Version="Default" Exists="True" XPath ="/form[@automationid='Root']//list[@automationid='StackItems']/listitem[@classname='ListBoxItem' and @text='GameStop.POS.UI.ViewModel.Orders.Stack.Tasks.IncludeCustomerTaskViewModel' and @iskeyboardfocusable='True']/element[@automationid='Root']" />
    <Exit Version="Default" Exists="False" XPath ="/form[@automationid='Root']//list[@automationid='StackItems']/listitem[@classname='ListBoxItem' and @text='GameStop.POS.UI.ViewModel.Orders.Stack.Tasks.IncludeCustomerTaskViewModel' and @iskeyboardfocusable='True']/element[@automationid='Root']" />
  </Criteria>
  <Parameters>
    <Expected Required="Yes" Type="Boolean" />
    <AddCustomer Required="Yes" Type="Boolean"/>
    <PhoneNumber Required="No" Type="String" />
    <PURNumber Required="No" Type="String" />
    <PURType Required="No" Type="String" />
    <Expired Required="No" Type="Boolean" />
    <Activated Required="No" Type="Boolean" />
    <EmailAddress Required="No" Type="String" />
    <LastNameZip Required="No" Type="String" />
    <MembershipStatus Required="No" Type="String" />
    <CardStatus Required="No" Type="String" />
    <Fenced Required="No" Type="String" />
    <Reservations Required="No" Type="Boolean" />
  </Parameters>
</configuration>