<configuration>
  <Criteria>
    <Entrance Version="Default" Exists="True" XPath ="/form[@processname='Source']/element[@classname='DashboardView']/button[@name~'Press F5 to start a new transaction' and @enabled='True']" />
    <Entrance Version="Default" Exists="True" XPath ="/form[@processname='Source']/*/text[@automationid='txtUserId']" />
    <Exit Version="Default" Exists="False" XPath ="/form[@processname='Source']/*/text[@automationid='txtUserId']" />
  </Criteria>
  <Parameters>
    <Username Required="Yes" Type="String" Default="PSU" Version="All"/>
    <Password Required="Yes" Type="String" Default="advanced" Version="All"/>
  </Parameters>
</configuration>