<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
    	<add name="IProductRepository" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:\pos\item.mdb;User Id=admin;Password=;"/>
	</connectionStrings>
	
  	<testParameters>
		<type>Performance</type>
  		<iterations>10</iterations>
  	</testParameters>
	
	<tests>
		<scenerio1>
			<module>
				<name>login</name>
				<expected>pass</expected>
				<username>psu</username>
				<password>advanced</password>
			</module>
			<!--<add name="addItems" expected="pass" sku="random" dept="952" esrb="Any" qty="1" qtyRelation="<="/>-->
		</scenerio1>
	</tests>

</configuration>