<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IProductRepository" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:\pos\item.mdb;User Id=admin;Password=;" />
  </connectionStrings>
  <testParameters>
    <type>performance</type>
    <test_ID>10</test_ID>
    <autoVer_ID>1</autoVer_ID>
    <store_ID>1</store_ID>
    <iterations>10</iterations>
  </testParameters>
  <scenarios>
    <sc id="0" weight="0" />
    <sc id="2" weight="0" />
    <sc id="3" weight="2" />
  </scenarios>
</configuration>